<p id="notice"><%= notice %></p>

<p>
  <strong>full:</strong>
  <%= @user.full %>
</p>

<p>
  <strong>dna:</strong>
  <%= @user.dna %>
  
  <strong>mrna:</strong>
  <%= @user.mrna %>
</p>

<%= link_to 'Back', users_path %>